* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Banner*/
body header {
  background-color: headerBG; }
  body header .banner {
    display: flex;
    align-content: center;
    align-items: center;
    height: 300px;
    background-color: 343940; }
    body header .banner img {
      height: 300px; }
    body header .banner h1 {
      color: yellow; }

body main {
  background-color: #143e3e; }
  body main section {
    height: 300px; }

.sectionTrailer {
  justify-content: center;
  align-items: center;
  height: 500px; }
  .sectionTrailer div {
    justify-self: center;
    align-self: center; }
