* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Banner */
/* Body */
/* Trailer */
/* Mixing */
/* /////////////////////// */
body {
  background-color: #9DA3A4; }
  body header {
    background-color: #343940; }
    body header .banner {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      height: 200px;
      background-color: #343940;
      width: auto; }
      body header .banner img {
        height: 150px; }
      body header .banner h1 {
        color: yellow; }
  body main {
    background-color: #447e7e; }
    body main .sectionTrailer {
      height: 250px;
      background-color: #1d1b2c;
      display: flex;
      align-items: center;
      justify-content: center; }
    body main .sectionGaleria {
      justify-content: space-around;
      padding: 20px; }
      body main .sectionGaleria img {
        padding: 5px;
        width: 180px; }
  body footer {
    grid-area: footer;
    background-color: #474747;
    padding: 2rem; }
    body footer .footerContact {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      align-items: center;
      justify-content: center; }
      body footer .footerContact a {
        color: #1a1616; }

.rotateWorld {
  padding: 0; }
  .rotateWorld img {
    padding: 0;
    width: 300px; }

.otherProjectsImg {
  padding: 20px;
  text-align: center; }
  .otherProjectsImg img {
    padding: 20px;
    width: 250px; }

.aboutUsStudioLocation img {
  width: 300px;
  padding: 10px; }

.sectionJustify h1 {
  text-align: center;
  color: white;
  padding: 20px 10% 5% 10%; }

.sectionJustify p {
  padding: 20px 10% 20px 10%;
  border: 20px;
  text-align: justify;
  color: white; }

.aboutUsFormulario {
  padding: 20px;
  width: 400px;
  background-color: #D5C5C8; }
  .aboutUsFormulario form fieldset legend {
    color: #070707; }

@media screen and (min-width: 400px) {
  body header .banner {
    height: 300px; }
  body header .banner img {
    height: 250px; }
  body main .sectionTrailer {
    height: 400px;
    background-color: #1d1b2c;
    display: flex;
    align-items: center;
    justify-content: center; }
  .rotateWorld img {
    width: 300px; }
  .otherProjectsImg {
    text-align: center; }
    .otherProjectsImg img {
      width: 350px;
      padding: 20px; }
  .aboutUsStudioLocation img {
    width: 550px;
    padding: 30px; } }

@keyframes rotacion {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.rotate {
  animation-name: rotacion;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }
