body{
    background-color: $banner-background-color;
    header{
        background-color: headerBG;
        .banner{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            height: 200px;
            background-color: $banner-background-color;
            width: auto;
            & img{
                height: 150px;
            }
            & h1{
                color: $banner-title-color;
            }
        }
    }
    main{
        background-color: rgb(20, 62, 62);

        .sectionTrailer{
            height: 250px;
            background-color:$trailer-background-color;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .sectionGaleria{
            justify-content: space-around;
            padding: 20px;
            img{
                padding: 5px;
                width: 180px;
            }
        }
    }
    footer{
        grid-area: footer;
        background-color: rgb(71, 71, 71);
        padding: 2rem;
        & .footerContact{
            display: flex;
            flex-direction: column;
            list-style-type: none;
            align-items: center;
            justify-content: center;
            a{
                color: rgb(26, 22, 22);
            }
        }
    }
}
.rotateWorld{
    padding: 20px;
    img{
        padding: 5px;
        width: 200px;
    }
}
.otherProjectsImg{
    text-align: center;
    & img{
        width: 250px;
        padding: 20px;
        
    }
  }
.sectionJustify{
    & h1{
        text-align: center;
    }
    & p{
        text-align: justify;
    }
}